{% extends 'home/base.html.twig' %}

{% block stylesheets %}
	<style>
		#exampleModal{
			top: 200px;
		}

		/*.item {*/
		/*height: 21rem;*/
		/*}*/
	</style>
{% endblock %}

{% block body %}
	<div class="page-title background-campaign">
		<div class="container">
			<h1>{{ project.getProjectName()}}</h1>
		</div>
	</div><!-- .page-title -->

	<div class="campaign-content mb-5">
		<div class="container">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" id="video-tab" src="{{ project.getProjectVideourl() }}" allowfullscreen></iframe>
			</div>
		</div>
	</div>

	<div class="campaign-content">
		<div class="container">
			<div class="campaign">
				<div class="campaign-item clearfix">
					<div class="campaign-image">
						<div id="owl-campaign" class="campaign-slider">
                            {% for key, image in project.getProjectImages()[project.getProjectName()] %}
								<div class="item"><img src="../companies_documents/{{ package.getUrl(project.getProjectName())|formattedProjectName }}/{{ image }}" alt=""></div>
                            {% endfor %}
						</div>
					</div>
					<div class="campaign-box">
						<a href="#" class="category">{{ project.getProjectGroup() }}</a>
						<h3>{{ project.getProjectName()}}</h3>
						<div class="campaign-description">
							<p>
                                {{ project.getProjectShortdescription() }}
							</p>
						</div>

						<div class="process mb-2">
							<div class="">
								<div class="">
									<span style="font-weight: 500;">Objectif du projet: {{ project.getProjectCost() }}</span>
								</div>
							</div>
						</div>

						<div class="process mb-3">
							<div class="">
								<div class="">
									<span style="font-weight: 500;">Jours restants:</span> {{ (project.getProjectEnddate().diff(project.getProjectStartdate())).days - (project.getProjectStartdate().diff(project.getTodaysDate())).days}} /{{ (project.getProjectEnddate().diff(project.getProjectStartdate())).days }}
								</div>
							</div>
						</div>

						<div class="process mb-2">
							<div class="">
								<div class="">
									<span style="font-weight: 500;">Cout de la part: {{ project.getProjectCost()/project.getProjectNumberaction() }}</span>
								</div>
							</div>
						</div>

						<div class="button">
                            {#{% if is_granted("ROLE_SUBSCRIBER") %}#}
                            {#<a class="btn-primary" href="{{ path('projectEngagement', {'id': project.getId()}) }}">Je paye</a>#}
                            {#{% endif %}#}
							<a class="btn-primary" href="{{ path('projectEngagement', {'id': project.getId(), 'userId': userId}) }}">Je souscris à ce projet</a>
						</div>
						<div class="share">
							<p>Je partage ce projet</p>
							<ul>
								<li class="share-facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li class="share-twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li class="share-google-plus"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li class="share-linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								<li class="share-code"><a href="#"><i class="fa fa-code" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- .campaign-content -->
	<div class="campaign-history">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="campaign-tabs">
						<ul class="tabs-controls">
							<li class="active" data-tab="campaign"><a href="#">Histoire du projet</a></li>
						</ul>
						<div class="campaign-content">
							<div id="campaign" class="tabs active">
								<div class="fr-view">
                                    {{ project.getProjectLongdescription() | raw }}
								</div>
							</div>
						</div>
					</div>
				</div><!-- .main-content -->
			</div>
		</div>
	</div><!-- .campaign-history -->

{% endblock %}

{% block javascripts %}
	<script>
        function makePages() {
            $.each(this.owl.userItems, function(i) {
                $('.owl-controls .owl-page').eq(i)
                    .css({
                        'background': 'url(' + $(this).find('img').attr('src') + ')',
                        'background-size': 'cover',
                    })
            });
        };
        $(document).ready(function() {
            $("#owl-campaign").owlCarousel({
                navigation: true,
                navigationText: ['<span class="ion-ios-arrow-back"></span>', '<span class="ion-ios-arrow-forward"></span>'],
                loop:true,
                autoplay:true,
                autoplayTimeout:3000,
                autoplayHoverPause:true,
                singleItem: true,
                afterInit: makePages,
                afterUpdate: makePages,
				//heigth: '21rem
            });
        });
	</script>
{% endblock %}