{% extends 'home/base.html.twig' %}

{% block stylesheets %}
    <style>
        legend.col-form-label{
            font-size: 0.9rem;
            font-weight: 400;
        }

        #author_form_authorImage{
            min-width: 14rem;
            max-width: 100%;
            height: calc(2.25rem + 2px);
            margin: 0;
            opacity: 1;
            margin-left: 0.5rem;
            margin-top: 0.5rem;
        }

        label {
            font-weight: 400;
        }

        .form-check-label {
            padding-left: 1.25rem;
            margin-bottom: 0px;
            padding-top: 1rem;
            margin-left: 1rem;
        }

        #engagement_form_engagement, #engagement_form_assistance{
            width: 1rem;
            margin-left: 0.1rem;
        }
    </style>
    {{ encore_entry_link_tags('engagementForm') }}
{% endblock %}

{% block body %}
    <div class="page-title background-campaign">
        <div class="container">
            <h1>{{ project.getProjectName() }}</h1>
        </div>
    </div><!-- .page-title -->

    <div class="container">
        <div class="main-content">
            <div class="form-login form-register">
                <h2>Formulaire de souscription</h2>

                <div class="card mb-4">
                    <h5 class="card-header">Informations lié au projet</h5>
                    <div class="card-body">
                        <p class="mb-2"><span class="text-danger" style="font-size: 1rem;">Le montant de la part pour ce projet vaut:</span> <span class="font-weight-bold">{{ project.getProjectCost()/project.getProjectNumberaction() }} Xaf</span></p>
                        <p class="mb-2"><span class="text-danger" style="font-size: 1rem;">Le nombre minimum de part est:</span> <span class="font-weight-bold">{{ project.getProjectMinnumberaction() }}</span></p>
                    </div>
                </div>

                <div id="engagementForm" data-user="{{ userId }}" data-project="{{ project.getId() }}"></div>

                <!-- Modal -->
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('engagementForm') }}
{% endblock %}