{% extends 'home/base.html.twig' %}

{% block stylesheets %}
    <style>
        legend.col-form-label{
            font-size: 0.9rem;
            font-weight: 400;
        }

        #author_form_authorImage{
            min-width: 14rem;
            max-width: 100%;
            height: calc(2.25rem + 2px);
            margin: 0;
            opacity: 1;
            margin-left: 0.5rem;
            margin-top: 0.5rem;
        }

        label {
            font-weight: 400;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="page-title background-campaign">
        <div class="container">
            <h1>Se connecter</h1>
        </div>
    </div><!-- .page-title -->

    <div class="container">
        <div class="main-content">
            <div class="form-login form-register">
                <div class="my-custom-class-for-errors">
                    {% if errors|length > 0 %}
                        <div class="alert alert-danger mb-4" role="alert">
                            {% for error in errors %}
                                <p class=""><span class="text-danger" style="font-size: 1rem;">{{ error}}!</span></p>
                            {% endfor %}
                        </div>
                    {% endif%}
                </div>
                <h2>Se connecter</h2>
                <div>
                    {{ form_start(form, {'attr': {'id': 'userForm'}}) }}

                    {{ form_row(form.username) }}
                    {{ form_row(form.password) }}

                    {{ form_end(form) }}
                </div>

                <p style="margin-top: 6rem;">
                    <a href="{{ path('registerUser') }}" style="display: inline">Vous n'avez pas de compte ?</a>
                    <a href="#" style="display: inline; margin-left: 1rem;">Mot de passe oublié ?</a>
                </p>

            </div>
        </div>
    </div>
{% endblock %}