
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CrowdFunding</title>

    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/responsive.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('mystyles.css') }}" />
    <link rel="icon" href="" type="image/x-icon"/>

    {% block stylesheets %}{% endblock %}

<body class="campaign-detail">
<div id="wrapper">
    <header id="header" class="site-header">
        <div class="container">
            <div class="site-brand">
                <a href="#"><img src="{{ asset('images/crifat.jpg') }}" alt=""></a>
            </div><!-- .site-brand -->
            <div class="right-header">
                <nav class="main-menu">
                    <button class="c-hamburger c-hamburger--htx"><span></span></button>
                    <ul>
                        {% if is_granted("ROLE_SUBSCRIBER_USER") %}
                            <li>
                                <i class="fa-li fa fa-check-square"></i>
                                <a href="#">Mon compte<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="#">Nom: {{ app.user.username }}</a></li>
                                    <li><a href="#">Changer mon mot de passe</a></li>
                                    <li><a href="#">Se déconnecter</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </nav><!-- .main-menu -->
                {% if is_granted("ROLE_SUBSCRIBER_USER") %}
                {% else %}
                    <div class="login login-button">
                        <a href="#" class="btn-primary">Se connecter</a>
                    </div>
                {% endif %}
            </div><!--. right-header -->
        </div><!-- .container -->
    </header><!-- .site-header -->

    <main id="main" class="site-main">
        {% block body %}{% endblock %}
    </main><!-- .site-main -->

    <footer id="footer" class="site-footer">
        <div class="footer-copyright">
            <div class="container">
                <p class="copyright">2020 by Afrikpay. All Rights Reserved.</p>
                <a href="#" class="back-top">Back to top<span class="ion-android-arrow-up"></span></a>
            </div>
        </div>
    </footer><!-- site-footer -->
</div><!-- #wrapper -->
<!-- jQuery -->
<script src="{{ asset('js/jquery-1.12.4.min.js') }}"></script>
<script src="{{ asset('libs/popper/popper.js') }}"></script>
<script src="{{ asset('libs/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('libs/owl-carousel/owl.carousel.min.js') }}"></script>
<script src="{{ asset('libs/owl-carousel/carousel.min.js') }}"></script>
<script src="{{ asset('libs/jquery.countdown/jquery.countdown.min.js') }}"></script>
<script src="{{ asset('libs/wow/wow.min.js') }}"></script>
<script src="{{ asset('libs/isotope/isotope.pkgd.min.js') }}"></script>
<script src="{{ asset('libs/bxslider/jquery.bxslider.min.js') }}"></script>
<script src="{{ asset('libs/magicsuggest/magicsuggest-min.js') }}"></script>
<script src="{{ asset('libs/quilljs/js/quill.core.js') }}"></script>
<script src="{{ asset('libs/quilljs/js/quill.js') }}"></script>
<!-- orther script -->
<script src="{{ asset('js/main.js') }}"></script>
<script>
    function validate(evt) {
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode( key );
        var regex = /[0-9]|\./;
        if( !regex.test(key) ) {
            theEvent.returnValue = false;
            if(theEvent.preventDefault) theEvent.preventDefault();
        }
    }
</script>
{% block javascripts %}{% endblock %}
</body>
</html>