{% extends 'admin/base.html.twig' %}

{% block title %}Détail de l'investisseur{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="row mb-2">
            <div class="col-12">
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ message }}
                </div>

            </div>
        </div>
    {% endfor %}
    {#<div class="row mb-2">#}
    {#<div class="col-12">#}
    {#<div class="alert alert-success alert-dismissable">#}
    {#<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>#}
    {#{% for message in app.flashes('success') %}#}
    {#{{ message }}#}
    {#{% endfor %}#}
    {#</div>#}

    {#</div>#}
    {#</div>#}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="text-center card-box">
                <div class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Action</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                    </div>
                </div>
                <div>
                    <div class="text-left">
                        <p class=""><strong>Civilité :</strong> <span class="m-l-15">{{ user.getCivility() }}</span></p>

                        <p class=""><strong>Nom :</strong><span class="m-l-15">{{ user.getFirstname() }}</span></p>

                        <p class=""><strong>Prénom :</strong> <span class="m-l-15">{{ user.getLastname() }}</span></p>

                        <p class=""><strong>Date de naissance :</strong> <span class="m-l-15">{{ user.getBirthdate() | date('Y-m-d H:i:s') }}</span></p>

                        <p class=""><strong>Nationalité :</strong> <span class="m-l-15">{{ user.getCountry() }}</span></p>

                        <p class=""><strong>Pays de résidence :</strong> <span class="m-l-15">{{ user.getResidence() }}</span></p>

                        <p class=""><strong>Email :</strong> <span class="m-l-15">{{ user.Email() }}</span></p>

                        <p class=""><strong>Nom d'utilisateur :</strong> <span class="m-l-15">{{ user.getUsername() }}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
