{% extends 'admin/base.html.twig' %}

{% block title %}Liste des demandes{% endblock %}

{% block body %}
    <div class="row mb-2 mt-2">
        <div class="col-12">
            <a href="{{ path('createProject') }}" type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5">Créer un projet</a>
            <a href="{{ path('createAuthor') }}" type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5">Créer un manager de projet</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-box table-responsive">
                <div id="datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="datatable" class="table table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 100px;">Projet</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 100px;">Demandeur</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 100px;">Nombre de part</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 100px;">Montant</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 100px;">Date de libération du capital</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 100px;">Raison</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 100px;">Source de revenu</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 100px;">Status</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 50px;">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if userProjects|length > 0 %}
                                    {% for up in userProjects %}
                                        <tr role="row" class="odd">
                                            <td>{{ up.getProjects().getName() }}</td>
                                            <td><a href="{{ path('investorDetail', {'username': up.getContributors().getUsername()}) }}">{{ up.getContributors().getFirstname() }} {{ up.getContributors().getLastname() }}</a></td>
                                            <td>{{ up.getNumberPart() }}</td>
                                            <td>{{ (up.getProjects().getCost()/up.getProjects().getNumberAction()) * up.getNumberPart() | number_format(0, '.', ',') }}</td>
                                            <td>{{ up.getCapitalLiberationDate() | date('Y-m-d H:i:s')}}</td>
                                            <td>{{ up.getInvestmentReason() }}</td>
                                            <td>{{ up.getRevenuSource() }}</td>
                                            <td class="{{ up.getStatus() == 'Validated' or up.getStatus() == 'Success' ? 'bg-info':'bg-danger' }}">{{ up.getStatus() }}</td>
                                            <td>
                                                <a href="{{ path('contributionValidate', {'id': up.getId()}) }}" class="btn btn-icon waves-effect waves-light btn-primary m-b-5"> <i class="fa fa-check"></i> </a>
                                                <a href="{{ path('contributionReject', {'id': up.getId()}) }}" class="btn btn-icon waves-effect waves-light btn-danger m-b-5"> <i class="fa fa-remove"></i> </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr role="row" class="odd">
                                        <td>aucune donnée</td>
                                        <td>aucune donnée</td>
                                        <td>aucune donnée</td>
                                        <td>aucune donnée</td>
                                        <td>aucune donnée</td>
                                        <td>aucune donnée</td>
                                        <td>aucune donnée</td>
                                        <td>aucune donnée</td>
                                        <td>aucune donnée</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- Required datatable js -->
    <script src="{{ asset('assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').DataTable();
        } );

    </script>
{% endblock %}
